<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Manager</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container row">
        <div class="col s3"></div>
        <div class="col s6">
            <div th:if="${not employees.isEmpty()}" >
                <table class="highlight">
                    <thead>
                    <tr>
                        <th class="center-align">Name</th>
                        <th class="center-align">Wage</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="employee:${employees}">
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.wage}"></td>
                    </tr>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn black" href="/employee-add">Add New Employee</a>
            </div>
            <div th:if="${employees.isEmpty()}">
                <span class="center-align">There're no employees yet, <a href="/employee-add">Add one?</a></span>
            </div>
        </div>
    </div>
</body>
</html>